.kanban {
	margin: 10px 0px 0px 0px;
	background: whitesmoke;
	border-collapse: collapse;
}

.age-legend {
	height: 10px;
	padding-left: 3px;
	padding-right: 3px;
}

.age-item {
	height: 13px;
	float: left;
	font-size: 11px;
	text-align: center;
}

.age-item:hover {
	font-weight: bold;
}

.editIcon {
	-moz-opacity: 1;
	opacity: 1;
	width: 16px;
	height: 16px;
}

.editIcon:hover {
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.horizontalLine {
	border-top: 2px black solid;
}


td.padded {
    padding-left: 4px;
    padding-right: 2px;
}

.customizedHeader {
    border-top:1px #989898 dotted;
    border-left:1px #989898 dotted;
    border-right:1px #989898 dotted;
    width: 164px;
    height:30px;
    font-family:verdana;
    font-size:14px;
    color:black;
}

.subHeader {
    border-bottom:1px #989898 dotted;
    border-left:1px #989898 dotted;
    border-right:1px #989898 dotted;
    height:10px;
    font-family:verdana;
    font-size:10px;
    color:black;
}

.row:hover {
    border: 1px black solid;
    margin: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
}

.row {
    border: 1px #C8C8C8 dotted;
    height: 30px;
    font-family: arial;
    font-size: 14px;
    color: #383838;
}

.completeDate {
	font-size: 12px;	
}