.space {
	position: relative;
	width: 500px;
	height: 11px;
}

.card {
	position: relative;
	border: solid 3px #000000;
	width: 580px;
	height: 310px;
	color: #FFFFFF;
	font-family: verdana;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
}

.type {
	border-bottom: solid 1px #585858;
	width: 580px;
	height: 15px;
	position: absolute;
	top: 0px;
	left: 0px;
	font-family: verdana;
	font-size: 12px;
	text-align: center;
	color: #000000;
	font-weight: lighter;
	
}
.qrcode {
	width: 70px;
	height: 70px;
	position: absolute;
	top: 25px;
	left: 10px;
	font-family: verdana;
	font-size: 18px;
	color: #000000;
	text-align: left;
}


.itemName {
	background-color: #FFFFFF;
	width: 280px;
	height: 70px;
	position: absolute;
	top: 25px;
	left: 10px;
	font-family: verdana;
	font-size: 18px;
	color: #000000;
	text-align: left;
}

.id {
	background-color: #FFFFFF;
	width: 100px;
	height: 55px;
	position: absolute;
	border: solid 2px #585858;
	top: 36px;
	right: 10px;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	font-family: verdana;
	font-size: 30px;
}

.size {
	background-color: #FFFFFF;
	width: 100px;
	height: 55px;
	position: absolute;
	border: solid 2px #585858;
	top: 113px;
	right: 10px;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	font-family: verdana;
	font-size: 30px;
}

.importance {
	background-color: #FFFFFF;
	width: 100px;
	height: 55px;
	position: absolute;
	border: solid 2px #585858;
	top: 190px;
	right: 10px;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	font-family: verdana;
	font-size: 30px;
}


.notes {
	float:bottom;	
	background-color: #FFFFFF;
	width: 440px;
	height: 132px;
	top: 113px;
	position: absolute;
	border: solid 2px #585858;
	bottom: 10px;
	left: 10px;
	color: #000000;
	text-align: left;
}

.label {
	width:100%;
	height:18px;
	top:-20px;
	position: relative;
	background-color: #FFFFFF;
	color: #000000;
	text-align: left;
	font-family: verdana;
	font-size: 14px;
}

.field {
	position: relative;
	background-color: #FFFFFF;
	top: -10px;
	color: #000000;
	text-align: inherit;
	font-family: inherit;
	font-size: inherit;
	vertical-align: inherit;
}

.footer {
	background-color: #FFFFFF;
	width: 560px;
	height: 25px;
	top: 263px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: #000000;
	text-align: left;
}

.stamp {
	float: left;
	background-color: #FFFFFF;
	width: 85px;
	height: 22px;
	position: relative;
	border: solid 1px #585858;
	bottom: 10px;
	color: #000000;
	text-align: left;
	margin-right: 6px;
	margin-top: 3px;
}

.phase {
	width:85px;
	height:10px;
	position: relative;
	background-color: #FFFFFF;
	color: #000000;
	text-align: left;
	font-family: verdana;
	font-size: 8px;
}

.date {
	text-align: left;
	font-family: verdana;
	font-size: 11px;
}