.blocked {
	background: #FFAAAA !important;
	border: solid red 3px;
}

.brokenWIPLimit {
	background: red ! important;
}

.dropdown {
	-moz-opacity: 1;
	opacity: 1;
	position: absolute;
	width: 35px !important;
	height: 15px !important;
	bottom: 2px !important;
	left: 2px !important;
}

.dropdown-gear {
    left: 2px !important;
}

.dropdown-triangle {
    right: 0px !important;
}

.dropdown-menu-wrapper{
  position: relative;
  top: 62px;
  left: -2px;
}

.dropdown-menu{
  position:absolute;
  z-index:7;
  background:#FFF;
  border:1px solid #AAA;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

.dropdown-menu a{
  clear:both;
  display:block;
  padding:5px;
  border-bottom:1px solid #AAA;
  text-decoration: none;
  font-family: Arial;
  font-size:12px;
}

.dropdown-menu a.last{
  border-bottom: none;
}

.dropdown-menu a img{
  padding-right:2px;
  vertical-align: bottom;
}

.dropdown-menu a:hover{
  background-color:#EEE;
}

.editIcon {
	-moz-opacity: 1;
	opacity: 1;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 50px;
}

.edit-menu {
	-moz-opacity: 1;
	opacity: 1;
	position: absolute;
	width: 35px !important;
	height: 15px !important;
	bottom: 2px !important;
	left: 45px !important;
}

.stopIcon {
	-moz-opacity: 1;
	opacity: 1;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 110px;
	top: 50px;
}

.size {
	border: 1px #BBBBBB dotted;
	position: absolute;
	width: 16px;
	height: 13px;
	left: 70px;
	top: 50px;
	font-family: arial;
	font-style: italic;
	font-size: 9px;
	text-align: center;
	color: #383838;
}

.importance {
	border: 1px #BBBBBB dotted;
	position: absolute;
	width: 36px;
	height: 13px;
	left: 97px;
	top: 50px;
	font-family: arial;
	font-style: italic;
	font-size: 9px;
	text-align: center;
	color: #383838;
}

table {
  width: 100%;
  color: #f00;
	margin: 10px 0px 0px 0px;
	border-collapse: collapse;
}
table#headercopy{
  position: fixed;
  top: -10px;
  z-index: 1000;
  opacity: 0.7;
  display: none;
  width:99%;
}

table#headercopy .feature-header{
  background-color: #fff;
}

.age-container {
    float: left;
    width: 100%;
    height: 4px;
}

.age-item {
    height:3px;
    width:3px;
    margin-bottom: 1px;
    margin-right: 1px;
    float: left;
    background-color: black;
}

.itemName {
	width: 80%;
	height: 20px;
	position: absolute;
	top: 6px;
	left: 2px;
	font-family: arial;
	font-size: 12px;
	color: #383838;
	text-align: left;
}

.topIcon:hover,.upIcon:hover,.advanceIcon:hover,.downIcon:hover,.editIcon:hover,.addIcon:hover,.stopIcon:hover
	{
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.icons{
  width: 10%;
  position:absolute;
  right: 0px;
  top: 10px;
}

.topIcon, .upIcon, .downIcon, .advanceItem{
  width: 16px;
  height: 16px;
}

.topIcon, .upIcon, .downIcon {
	position: relative;
	right: 10px;
}



.addIcon {
	-moz-opacity: 1;
	opacity: 1;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 20px;
	top: 50px;
}



.markedToPrint {
	background: #EEEEEE;
}


.horizontalLine {
	border-top: 2px black solid;
}

div[data-role="card"]{
  height: 75px;
	width: 95%;
	margin: 1px;
	padding: 3px;
  position: relative;
  -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
         border-radius: 5px;
}

.card:hover{
  border: 1px black solid;
	padding: 2px;

}


.markedToPrint:hover {
	border: 1px black solid;
	background: #CCCCCC;
}

.wall-header {
	border: 1px #989898 dotted;
	height: 30px;
	width: 164px;
	font-family: verdana;
	font-size: 14px;
	color: black;
}

.background {
	border: 1px #C8C8C8 dotted;
	width: 155px;
	height: 30px;
}